* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: Arial, sans-serif;

    background: #0f0f0f;
    color: white;
}


.sidebar {
    position: fixed;

    left: 15px;
    top: 15px;

    width: 230px;
    height: calc(100vh - 30px);

    background: #181818;

    border-radius: 18px;

    padding: 25px 15px;

    display: flex;
    flex-direction: column;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.sidebar h2 {
    text-align: center;

    margin: 5px 0 30px;

    font-size: 24px;
}


.sidebar a {
    color: #ccc;

    text-decoration: none;

    padding: 15px 18px;

    margin-bottom: 8px;

    border-radius: 10px;

    font-size: 17px;

    transition: 0.2s;
}

.sidebar a:hover {
    background: #252525;

    color: white;

    transform: translateX(5px);
}

.sidebar a.active {
    background: #303030;

    color: white;

    transform: translateX(5px);
}


.content {
    margin-left: 260px;

    min-height: 100vh;

    padding: 50px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 90%;
    max-width: 700px;

    min-height: 400px;

    padding: 60px 40px;

    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background: #181818;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 42px;

    margin-bottom: 15px;
}

p {
    font-size: 20px;

    color: #aaa;

    margin-bottom: 30px;

    transition: opacity 0.4s ease;
}


button {
    padding: 14px 30px;

    font-size: 18px;

    border: none;

    border-radius: 10px;

    background: white;
    color: #111;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    transform: scale(1.08);
}

button:active {
    transform: scale(0.95);
}



@media (max-width: 700px) {

    .sidebar {
        left: 8px;
        top: 8px;

        width: 160px;

        height: calc(100vh - 16px);

        padding: 20px 10px;
    }

    .sidebar h2 {
        font-size: 18px;

        margin-bottom: 20px;
    }

    .sidebar a {
        font-size: 14px;

        padding: 12px 10px;
    }

    .content {
        margin-left: 180px;

        padding: 25px 10px;
    }

    .container {
        width: 100%;

        min-height: 350px;

        padding: 35px 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}
